.textinput {
  height: 56px;
  background: #F6F7F9;
  position: relative;
  border-radius: $radius $radius 0 0;
  border-bottom: 1px solid #D7D9DC;
  width: 100%;
  box-sizing: border-box;

  &__input {
    background: none;
    left: 0;
    width: 100%;
    border: none;
    font-size: 16pt;
    color: black;
    padding: 26px 16px 10px;
    height: 56px;
    bottom: 0;
    box-sizing: border-box;
    outline: none;
  }

  &__label {
    position: absolute;
    left: 0;
    top: 16px;
    padding: 0 16px;
    font-size: 16pt;
    color: #737F86;
    transform: scale(1) translate(0, 0);
    transition: transform 0.25s;
    pointer-events: none;
    touch-action: none;
    user-select: none;
    transform-origin: 0 50%;
  }

  &__error {
    color: $danger;
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    font-size: 12pt;
    padding: 0 16px;
    opacity: 0;
    pointer-events: none;
    touch-action: none;
    transition: opacity 0.25s;
  }

  &_focused, &_filled {
    & .textinput__label {
      transform: scale(0.7) translate(2px, -24px);
    }
  }

  &_error {
    background: transparentize($color: $danger, $amount: 0.9);
    border-bottom: 1px solid $danger;

    & .textinput__error {
      opacity: 1;
    }
  }
}