{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="card">
  <img src="{{img}}" alt="{{title}}" class="card__image" />

  <div class="card__title">
    {{title}}
  </div>
</div>