{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="how__arrow">
  <div class="how__arrow-image"></div>
  
  <span>
    {{ label }}
  </span>
</div>