{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="textinput">
  <input type="text" class="textinput__input" name={{name}} value="" id="{{id}}" />
  <label for="{{name}}" class="textinput__label">{{title}}</label>
  <div class="textinput__error">
    Пожалуйста, заполните это поле
  </div>
</div>