{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="person">
  <div class="person__wrap">
    <img src="{{image}}" alt="{{i18n name}}" class="person__image">
    <div class="person__name">{{i18n name}}</div>
    <div class="person__title">{{i18n title}}</div>
  </div>
</div>
