{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="person">
  <div class="person__wrap">
    <img src="{{image}}" alt="{{name}}" class="person__image">
    <div class="person__name">{{name}}</div>
    <div class="person__title">{{title}}</div>
  </div>
</div>