{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="reason">
  <div class="reason__number">
    {{number}}
  </div>

  <div class="reason__text">
    <div class="reason__title">
      {{title}}
    </div>

    <div class="reason__description">{{> @partial-block }}</div>
  </div>
</div>