{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="stage">
  <img src="{{image}}" alt="{{i18n title}}" class="stage__image">
  <div class="stage__title">
    {{i18n title}}
  </div>
</div>
