{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen aboutus">
  <div class="container container_center center">
    <div class="subheading">
      Кто мы?
    </div>

    <div class="description aboutus__description">
      Мы&nbsp;&mdash; небольшая команда специалистов из&nbsp;самого сердца Сибири, её&nbsp;технического
      центра&nbsp;&mdash; Новосибирска. Мы&nbsp;специализируемся на&nbsp;разработке мобильных приложений для Android
      и&nbsp;IOS. Наши знания и&nbsp;опыт позволяют нам эффективно решать задачи и&nbsp;создавать качественные, удобные
      и&nbsp;эффективные приложения.
    </div>


    <div class="aboutus__gridwrap">
      <div class="aboutus__grid">
        {{>person image="../assets/images/pogrebnyak.png" name="Александр Погребняк" title="Руководитель"}}
        {{>person image="../assets/images/getmanov.png" name="Валерий Гетманов" title="Менеджер по работе с клиентами"}}
        {{>person image="../assets/images/mikhailov.png" name="Алексей Михайлов" title="Технический директор"}}
        {{>person image="../assets/images/grebenschikov.png" name="Евгений Гребенщиков" title="Арт-директор"}}
        {{>person image="../assets/images/chernov.png" name="Андрей Чернов" title="Руководитель iOS-отдела"}}
        {{>person image="../assets/images/schvedov.png" name="Алексей Шведов" title="Руководитель Web-отдела"}}
      </div>
    </div>
  </div>
</div>