{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen graphs">
  <div class="container">

    <div class="graphs__text">
      <div class="subheading graphs__title">
        Почему важно сделать приложение именно сейчас?
      </div>

      <div class="graphs__description">
        После снятия карантина поведение покупателей изменится. Люди поймут, что доставка&nbsp;&mdash; удобный сервис.
        Они привыкнут делать заказы онлайн. К&nbsp;тому времени многие компании уже сделают мобильные приложения
        и&nbsp;организуют доставку. Без этих сервисов сложно будет приспособиться к&nbsp;новым условиям
        и&nbsp;конкурировать за&nbsp;клиентов. А&nbsp;создавать и&nbsp;раскручивать их&nbsp;с&nbsp;нуля будет поздно.
      </div>
    </div>

    <div class="graphdata graphdata_desktop">
      <div class="graphdata__graph">
        <img src="../assets/images/graphs.svg" alt="Рынок доставки продуктов" width="100%">
      </div>
    </div>

    <div class="graphdata graphdata_mobile">
      <div class="graphdata__graph">
        <img src="../assets/images/graphs_mobile.svg" alt="Рынок доставки продуктов" width="100%">
      </div>
    </div>
  </div>
</div>