{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen screen_small how">
  <div class="container container_center">
    <div class="subheading">
      Как это работает?
    </div>

    <div class="how__description description">
      У&nbsp;пользователя в&nbsp;системе может быть 3&nbsp;роли. Каждая роль может быть монетизирована, являться частью единой инфраструктуры или быть отдельным независимым подразделением или партнером
    </div>

    <div class="how__grid">
      <img src="../assets/images/how_customer.svg" />
      {{> how_arrow label="Поиск товара" }}
      <img src="../assets/images/how_platform.svg" />
      {{> how_arrow label="Оформление заказа и оплата" }}
      <img src="../assets/images/how_shop.svg" />
      {{> how_arrow label="Сборка" }}
      <img src="../assets/images/how_courier.svg" />
      {{> how_arrow label="Доставка" }}
      <img src="../assets/images/how_customer.svg" />
    </div>
  </div>
</div>