{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen screen_small interaction">
  <div class="container">
    <div class="interaction__title subheading center">
      Приложение позволяет постоянно взаимодействовать с&nbsp;клиентами
    </div>

    <div class="interaction__cards">
      {{#> interaction_card title="Уведомления" image="../assets/images/bell.svg"}}
      Они быстро получат уведомление о&nbsp;новинках. Ассортимент в&nbsp;приложении автоматически обновляется из&nbsp;вашей CRM
      {{/interaction_card}}
      
      {{#> interaction_card title="Интересный контент" image="../assets/images/content.svg"}}
      В&nbsp;приложение можно добавить вовлекающий контент: видео-рецепты, обзоры, отзывы, видео с&nbsp;кухни
      {{/interaction_card}}
      
      {{#> interaction_card title="Клиентская база" image="../assets/images/clients.svg"}}
      Можно загрузить базу адресов. Вы&nbsp;будете информировать покупателей о&nbsp;скидках, акциях, индивидуальных предложениях
      {{/interaction_card}}
      
      {{#> interaction_card title="Бонусная программа" image="../assets/images/bonus.svg"}}
      Приложение позволит запустить программы лояльности: ввести баллы, промокоды
      {{/interaction_card}}

    </div>
  </div>
</div>