{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="preloader" id="preloader">
  <div class="preloader__spinner">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48">
      <path fill="#d40000" fill-opacity="0" d="M.001 0h48v48h-48z" />
      <path
        d="M45.185 24.001a21.186 21.186 0 01-13.078 19.574 21.186 21.186 0 01-23.089-4.593 21.186 21.186 0 01-4.593-23.089A21.186 21.186 0 0124 2.815"
        fill="none" stroke="#55439d" stroke-width="5.62772017" stroke-linecap="round" /></svg>
  </div>
</div>