{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen screen_small risks">
  <div class="container">
    <div class="subheading center">
      Мы&nbsp;предусмотрели все риски
    </div>

    <div class="risks__grid">
      <div class="risks__card">
        У&nbsp;нас большой опыт разработки и&nbsp;готовые платформы. Мы&nbsp;в&nbsp;короткие сроки создаем приложения
        и&nbsp;настраиваем его под конкретный бизнес
      </div>

      <div class="risks__card">
        Приложение быстро выпускаем на&nbsp;рынок&nbsp;&mdash; всего за&nbsp;3&nbsp;рабочих дня
      </div>

      <div class="risks__card">
        Наши приложения работают в&nbsp;рамках законодательства. Мы&nbsp;учитываем все юридические нюансы, поэтому можно
        не беспокоится о&nbsp;проблемах с&nbsp;налоговой службой и&nbsp;другими инстанциями
      </div>

    </div>

    <div class="center">
      {{#> contact_button}}
      Узнать подробности
      {{/contact_button}}
    </div>
  </div>
</div>