{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen showcase">
  <div class="container container_center center">

    <div class="subheading">
      Мы&nbsp;уже разработали приложения для
    </div>

    <div class="showcase__carousel-wrap">
      <div class="showcase__arrow showcase__arrow_left">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.82 33.18L21.66 24L30.82 14.82L28 12L16 24L28 36L30.82 33.18Z" fill="#161616" />
        </svg>
      </div>

      <div class="showcase__carousel">
        {{>phone image="../assets/images/primetime.png" title="PrimeTime" info="Сервис заказа домашней еды" url="https://primetimecoffee.ru/"}}
        {{>phone image="../assets/images/servedin.png" title="ServedIn" info="Приложение позволяет заказывать блюда в&nbsp;апартаменты"}}
        {{>phone image="../assets/images/vkusman.png" title="Приложение доставки товаров" info="Сервис моментальной доставки продуктов"}}
      </div>

      <div class="showcase__arrow showcase__arrow_right">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.18 33.18L26.34 24L17.18 14.82L20 12L32 24L20 36L17.18 33.18Z" fill="#161616" />
        </svg>
      </div>
    </div>
  </div>
</div>