{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen screen_small solution">
  <div class="container container__center center">
    <div class="subheading solution__title">
      Мы&nbsp;предлагаем &laquo;коробочное&raquo; решение в&nbsp;собственность или по&nbsp;подписке
    </div>

    <div class="solution__grid">
      <div class="solution__card">
        <div class="solution__subtitle">SAAS</div>
        <p>Мобильное приложение с&nbsp;фирменным стилем</p>
        <p>Данные и&nbsp;сервер находятся у&nbsp;разработчика</p>
        <p>Разработка от&nbsp;3-х дней</p>
        <p>Подключение 200 т.руб, ежемесячно 55&nbsp;т.руб</p>
      </div>

      <div class="solution__card">
        <div class="solution__subtitle">&laquo;Коробочное решение&raquo;</div>
        <p>Создаем фирменное мобильное приложение</p>
        <p>Сервер и&nbsp;все данные принадлежат вам</p>
        <p>Можете подключить любой сервис или интеграции</p>
        <p>Разработка от&nbsp;2-х недель, стоимость&nbsp;&mdash; 1 &minus;1, 5&nbsp;млн. руб</p>

      </div>

      <div class="solution__card">
        <div class="solution__subtitle">Индивидуальная разработка</div>
        <p>Разрабатываем с&nbsp;&laquo;нуля&raquo; именно под ваш бренд</p>
        <p>Вы&nbsp;владеете сервером и&nbsp;данными</p>
        <p>Можете подключить любой сервис или интеграции</p>
        <p>Разработка от&nbsp;4-х месяцев, стоимость от&nbsp;3&nbsp;млн.руб</p>
      </div>
    </div>

    {{#>contact_button}}
    Узнать подробности
    {{/contact_button}}
  </div>
</div>