{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen screen_middle title">
  <div class="container title__container">
    <div class="title__logo">
      <img src="../assets/images/logo.svg" />
    </div>

    <div class="title__text">
      <div class="title__text_bold">
        Продавайте онлайн и&nbsp;сохраните клиентов
      </div>

      <div class="title__text_condensed">
        c&nbsp;помощью мобильного приложения по&nbsp;заказу и&nbsp;доставке
      </div>
    </div>

    <div class="title__note">
      Разработка от&nbsp;3-х дней. Коробочное решение в&nbsp;3&nbsp;раза дешевле индивидуального
    </div>
    
    {{#> contact_button }}
      Получить консультацию
    {{/contact_button}}
  </div>
</div>