{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen screen_middle title">
  <div class="container title__container">
    <div class="title__logo">
      <img src="../assets/images/logo.svg" />
    </div>

    <div class="title__text">
      <div class="title__text_bold">
        {{i18n "Продавайте онлайн и сохраните клиентов"}}
      </div>

      <div class="title__text_condensed">
        {{i18n "c помощью мобильного приложения по заказу и доставке"}}
      </div>
    </div>

    <div class="title__note">
      {{i18n "Разработка от 3-х дней. Коробочное решение в 3 раза дешевле индивидуального"}}
    </div>

    {{#> contact_button }}
      {{i18n "Получить консультацию"}}
    {{/contact_button}}
  </div>
</div>
