{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen screen_small where">
  <div class="container container_center center">

    <div class="subheading">
      Где работает наше приложение?
    </div>

    <div class="description where__description">
      <p>
        Мы&nbsp;создаем приложения для IOS и&nbsp;Android
      </p>


      <p>
        Поддерживаем мультиплатформенную разработку на&nbsp;языке Kotlin.<br />
        Он&nbsp;позволяет написать приложение на&nbsp;одном языке сразу под 8&nbsp;платформ </p>
    </div>

    {{#> contact_button}}
    Заказать консультацию
    {{/contact_button}}
  </div>
</div>